<div class="counter flexrow hero-points">
  <h4 class="rollable" data-action="Hero Points">Hero Points</h4>
  <div class="counter-value">
    <input name="{{name}}" type="text" value="{{value}}" data-dtype="Number" placeholder="0">
  </div>
</div>